knight BITMAP "resources/bmp/knight.bmp"
knight2 BITMAP "resources/bmp/knight2.bmp"
monster BITMAP "resources/bmp/character.bmp"
background BITMAP "resources/bmp/bkgrd.bmp"
monster2 BITMAP "resources/bmp/character2.bmp"
bullet BITMAP "resources/bmp/bullet.bmp"
bullet2 BITMAP "resources/bmp/bullet-2.bmp"
tree BITMAP "resources/bmp/tree.bmp"
tree2 BITMAP "resources/bmp/tree2.bmp"
teleport BITMAP "resources/bmp/teleport.bmp"
teleport2 BITMAP "resources/bmp/teleport2.bmp"
blood_buff BITMAP "resources/bmp/blood_buff.bmp"
rage_buff BITMAP "resources/bmp/rage_buff.bmp"
rush_buff BITMAP "resources/bmp/rush_buff.bmp"
damageup_buff BITMAP "resources/bmp/up.bmp"
bulletspeedup_buff BITMAP "resources/bmp/bulletspeedup_buff.bmp"
firingrateup_buff BITMAP "resources/bmp/firingrateup_buff.bmp"
piercebullet_buff BITMAP "resources/bmp/piercebullet_buff.bmp"
multibullet_buff BITMAP "resources/bmp/multibullet_buff.bmp"
defenseup_buff BITMAP "resources/bmp/defenseup_buff.bmp"
timedrop BITMAP "resources/bmp/time.bmp"
timedrop2 BITMAP "resources/bmp/time2.bmp"
curedrop BITMAP "resources/bmp/cure.bmp"
curedrop2 BITMAP "resources/bmp/cure2.bmp"
dialog BITMAP "resources/bmp/dialog.bmp"
box BITMAP "resources/bmp/box.bmp"
box2 BITMAP "resources/bmp/box2.bmp"
title BITMAP "resources/bmp/title.bmp"
title1 BITMAP "resources/bmp/title-1.bmp"
title2 BITMAP "resources/bmp/title-2.bmp"
