character BITMAP "resources/bmp/character.bmp"
background BITMAP "resources/bmp/bkgrd.bmp"
character2 BITMAP "resources/bmp/character2.bmp"
bullet BITMAP "resources/bmp/bullet.bmp"
bullet2 BITMAP "resources/bmp/bullet-2.bmp"
tree BITMAP "resources/bmp/tree.bmp"
tree2 BITMAP "resources/bmp/tree2.bmp"
